body {
    background-color: #262626;
    color: #ffffff;
    font-family: Comm, Helvetica, sans-serif;
  }
  
  h1 {
    text-decoration-color: #59c5c7;
    font-size: 2.5rem;
    margin: 2rem 4rem;
    text-size-adjust:inherit; 
  }